__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Node / Frontend
node_modules/
dist/
build/

# Secretos y entorno
.env
.env.*
!.env.example

# Sistema operativo / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
